body {
  font-family: Arial, sans-serif;
  background: #f9fdfd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  
  background-image:url(fgd.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom 34px;
  background-size: 480px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #284E5B;
  font-size: 1.5rem;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  background-color: #284E5B;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #1D3F4B;
}

#status {
  text-align: center;
  margin-top: 10px;
  color: #4caf50;
}
.background{
  background-image:url(fgd.png); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top 250px;
  background-size: 480px;
  background-color: #f2f2f2 ;
}

